---
const imgLine12 = import.meta.env.BASE_URL + "images/722be691ab76c9fbc04f5aef3dc97a1053dc16bb.svg";
const imgPhoto = import.meta.env.BASE_URL + "images/63e4ec37dcc1d366edcc53ce9a5ae7d1dc8009b3.png";
const imgTextBox = import.meta.env.BASE_URL + "images/5b4f3e62db1044de81f479951e83863a662235e5.png";
---
<div class="flex flex-col gap-[8px] items-center w-[333px]">
  <div class="bg-[var(--keycolor,#deca37)] border-2 border-[var(--bgcolor,#ffffeb)] border-solid flex flex-col items-center justify-center px-[10px] py-[4px] rounded-[5px] w-full">
    <p class="leading-normal text-[0px] text-black text-center whitespace-nowrap">
      <span class="font-[family-name:var(--mainfont,'Zen_Kaku_Gothic_New:Regular',sans-serif)] leading-normal text-[20px]">犬童一心</span><span class="font-[family-name:var(--mainfont,'Zen_Kaku_Gothic_New:Regular',sans-serif)] leading-normal text-[12px]">（映画監督）</span>
    </p>
  </div>
  <div class="border-2 border-[var(--keycolor,#deca37)] border-solid flex items-center justify-center p-[8px] shrink-0 size-[140px]">
    <div class="relative rounded-[10px] shrink-0 size-[120px]">
      <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[10px] size-full" src={imgPhoto}/>
    </div>
  </div>
  <div class="bg-[var(--heading,#fefefe)] flex items-center justify-center rounded-[2px]">
    <p class="font-['Londrina_Solid',sans-serif] leading-normal text-[18px] text-[color:var(--keycolor,#deca37)] text-center"># comments</p>
  </div>
  <div class="border-2 border-[var(--keycolor,#deca37)] border-solid flex flex-col items-center px-[20px] py-[10px] relative rounded-[12px] w-full card-textbox">
    <div class="leading-[1.5] relative text-[13px] text-black text-outline-white w-full">
      <p class="mb-0">若さは、映画の宝石、だが、例え作り手が若くとも誰もが写しとれない。PEAK ENDは若さが尻尾まで詰まったたい焼きみたいだ。甘さは幼なさ、稚拙だが、それに惹かれ、齧ると胸が詰まる。</p>
      <p class="mb-0">&nbsp;</p>
      <p class="mb-0">若さは諦めが悪い、心から惹かれる人が現れ、その謎にカメラで向き合えば更なる二人の高みに至れると思い突っ走る。クールに振る舞ったり諦観を鎧にすることなく、正直な言葉、無防備な態度を風にたなびかせている。そのイノセンス一生分が120分間溢れ続け爽快で、映画は切実なもので、その力が自分も世界も変えうる可能性があると信じカメラを握りしめている。若い。なんと素晴らしい。羨ましい。</p>
      <p class="mb-0">&nbsp;</p>
      <p>列車の車窓、通り過ぎていく風景、スピード、終わらないマジな言葉、二人の声の響き、進行音。なんと、それは人生を写しとることができていて、その先のシンチェリンの写しとるものへの期待が高まっていく。</p>
    </div>
  </div>
  <div class="flex flex-col items-center w-full">
    <div class="h-0 relative w-full">
      <div class="absolute inset-[-1px_0_0_0]">
        <img alt="" class="block max-w-none size-full" src={imgLine12}/>
      </div>
    </div>
    <div class="relative rounded-[10px] shrink-0 size-[36px]">
      <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[10px] size-full" src={imgPhoto}/>
    </div>
  </div>
</div>
