---
const imgRinProf1 = import.meta.env.BASE_URL + "images/5dfbf4105817b96213ca384b903643d993d6c352.png";
const imgTextBox = import.meta.env.BASE_URL + "images/5b4f3e62db1044de81f479951e83863a662235e5.png";
const imgRinProf2 = import.meta.env.BASE_URL + "images/63e4ec37dcc1d366edcc53ce9a5ae7d1dc8009b3.png";
const imgLine12 = import.meta.env.BASE_URL + "images/722be691ab76c9fbc04f5aef3dc97a1053dc16bb.svg";
---
<div class="flex flex-col gap-[8px] items-center w-[333px]">
  <div class="bg-[var(--keycolor,#deca37)] border-2 border-[var(--bgcolor,#ffffeb)] border-solid flex flex-col items-center justify-center px-[10px] py-[4px] rounded-[5px] w-full">
    <p class="leading-[0] text-[0px] text-black text-center whitespace-nowrap">
      <span class="font-[family-name:var(--mainfont,'Zen_Kaku_Gothic_New:Regular',sans-serif)] leading-normal text-[20px]">シン・チェリン</span><span class="font-[family-name:var(--mainfont,'Zen_Kaku_Gothic_New:Regular',sans-serif)] leading-normal text-[12px]">(監督/企画/出演)</span>
    </p>
  </div>
  <div class="border-2 border-[var(--keycolor,#deca37)] border-solid flex items-center justify-center p-[8px] shrink-0 size-[140px]">
    <div class="relative rounded-[10px] shrink-0 size-[120px]">
      <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[10px] size-full" src={imgRinProf1} />
    </div>
  </div>
  <div class="bg-[var(--heading,#fefefe)] flex items-center justify-center rounded-[2px]">
    <p class="font-['Londrina_Solid',sans-serif] leading-normal text-[18px] text-[color:var(--keycolor,#deca37)] text-center"># members</p>
  </div>
  <div class="border-2 border-[var(--keycolor,#deca37)] border-solid flex flex-col items-center px-[20px] py-[10px] relative rounded-[12px] w-full card-textbox">
    <div class="leading-[1.5] relative text-[13px] text-black text-outline-white w-full">
      <p class="mb-0">1998年韓国ソウル生まれ。2025年、京都芸術大学芸術学部映画学科映画製作コース卒業。</p>
      <p class="mb-0">&nbsp;</p>
      <p class="mb-0">韓国で大学の写真学科に所属していた20歳の年に、日本へ留学することを決心する。大学1年生の頃から監督として映画製作に積極的に関わる。3年生では初の長編劇映画『水槽』を監督する。</p>
      <p class="mb-0">&nbsp;</p>
      <p class="mb-0">卒業制作として監督した『PEAK END』は、ドキュメンタリーとしての要素を取り入れた初の試みだった。</p>
      <p class="mb-0">&nbsp;</p>
      <p class="mb-0">『PEAK END』の劇中に登場する子猫の「ぴぬ」は、すくすく成長し、今では2人目の家族「くるみ」と毎晩部屋をかけっこしている。毎朝、服についているフワフワな毛をコロコロしてバタバタと出勤するのがルーティンだ。</p>
      <p>ただ、勤務中に頭にあるのは2人の愛猫と、現在進行中の長編劇映画の企画のことばかり。</p>
    </div>
  </div>
  <div class="flex flex-col items-center w-full">
    <div class="h-0 relative w-full">
      <div class="absolute inset-[-1px_0_0_0]">
        <img alt="" class="block max-w-none size-full" src={imgLine12} />
      </div>
    </div>
    <div class="relative rounded-[10px] shrink-0 size-[36px]">
      <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[10px] size-full" src={imgRinProf2} />
    </div>
  </div>
</div>
