---
const imgRinProf1 = "/images/8ffd3d0d428dccee377aff2ec8b1f7b6da6334ac.png";
const imgTextBox = "/images/5b4f3e62db1044de81f479951e83863a662235e5.png";
const imgRinProf2 = "/images/63e4ec37dcc1d366edcc53ce9a5ae7d1dc8009b3.png";
const imgLine12 = "/images/722be691ab76c9fbc04f5aef3dc97a1053dc16bb.svg";
---
<div class="flex flex-col gap-[8px] items-center w-[333px]">
  <div class="bg-[var(--keycolor,#deca37)] border-2 border-[var(--bgcolor,#ffffeb)] border-solid flex flex-col items-center justify-center px-[10px] py-[4px] rounded-[5px] w-full">
    <p class="leading-[0] text-[0px] text-black text-center whitespace-nowrap">
      <span class="font-[family-name:var(--mainfont,'Zen_Kaku_Gothic_New:Regular',sans-serif)] leading-normal text-[20px]">清水歩夢</span><span class="font-[family-name:var(--mainfont,'Zen_Kaku_Gothic_New:Regular',sans-serif)] leading-normal text-[12px]">(撮影/企画)</span>
    </p>
  </div>
  <div class="border-2 border-[var(--keycolor,#deca37)] border-solid flex items-center justify-center p-[8px] shrink-0 size-[140px]">
    <div class="relative rounded-[10px] shrink-0 size-[120px]">
      <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[10px] size-full" src={imgRinProf1} />
    </div>
  </div>
  <div class="bg-[var(--heading,#fefefe)] flex items-center justify-center rounded-[2px]">
    <p class="font-['Londrina_Solid',sans-serif] leading-normal text-[18px] text-[color:var(--keycolor,#deca37)] text-center"># members</p>
  </div>
  <div class="border-2 border-[var(--keycolor,#deca37)] border-solid flex flex-col items-center px-[20px] py-[10px] relative rounded-[12px] w-full card-textbox">
    <div class="leading-[1.5] relative text-[13px] text-black text-outline-white w-full">
      <p class="mb-0">2002年生まれ。「PEAK END」では企画を監督と共同で発案し、メインカメラも担当する。</p>
      <p class="mb-0">&nbsp;</p>
      <p class="mb-0">目指すべき「撮影」は被写体が持つ粒子の蠢きを最も活性化させ、エントロピーを増大させる行為だと考えている。</p>
      <p class="mb-0">&nbsp;</p>
      <p class="mb-0">現在は某テレビ局で構成作家兼プロデューサーとして働く傍らで、外国人在留資格に焦点を当てた新しい企画を実現するためにプロデューサーとして資金を集めている(監督シン・チェリンとの合作)。</p>
      <p>近作には、舞台演出家の村川拓也氏によって京都国際舞台演劇祭で上演、舞台化された映画『テニス』（撮影を担当）がある。</p>
    </div>
  </div>
  <div class="flex flex-col items-center w-full">
    <div class="h-0 relative w-full">
      <div class="absolute inset-[-1px_0_0_0]">
        <img alt="" class="block max-w-none size-full" src={imgLine12} />
      </div>
    </div>
    <div class="relative rounded-[10px] shrink-0 size-[36px]">
      <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[10px] size-full" src={imgRinProf2} />
    </div>
  </div>
</div>
