---
const imgRinProf1 = import.meta.env.BASE_URL + "images/798c760295b7477d67c180f0207dde6e02e2fc3b.png";
const imgTextBox = import.meta.env.BASE_URL + "images/5b4f3e62db1044de81f479951e83863a662235e5.png";
const imgRinProf2 = import.meta.env.BASE_URL + "images/63e4ec37dcc1d366edcc53ce9a5ae7d1dc8009b3.png";
const imgLine12 = import.meta.env.BASE_URL + "images/722be691ab76c9fbc04f5aef3dc97a1053dc16bb.svg";
---
<div class="flex flex-col gap-[8px] items-center w-[333px]">
  <div class="bg-[var(--keycolor,#deca37)] border-2 border-[var(--bgcolor,#ffffeb)] border-solid flex flex-col items-center justify-center px-[10px] py-[4px] rounded-[5px] w-full">
    <p class="leading-[0] text-[0px] text-black text-center whitespace-nowrap">
      <span class="font-[family-name:var(--mainfont,'Zen_Kaku_Gothic_New:Regular',sans-serif)] leading-normal text-[20px]">伊丹そら</span><span class="font-[family-name:var(--mainfont,'Zen_Kaku_Gothic_New:Regular',sans-serif)] leading-normal text-[12px]">(出演/制作)</span>
    </p>
  </div>
  <div class="border-2 border-[var(--keycolor,#deca37)] border-solid flex items-center justify-center p-[8px] shrink-0 size-[140px]">
    <div class="relative rounded-[10px] shrink-0 size-[120px]">
      <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[10px] size-full" src={imgRinProf1} />
    </div>
  </div>
  <div class="bg-[var(--heading,#fefefe)] flex items-center justify-center rounded-[2px]">
    <p class="font-['Londrina_Solid',sans-serif] leading-normal text-[18px] text-[color:var(--keycolor,#deca37)] text-center"># members</p>
  </div>
  <div class="border-2 border-[var(--keycolor,#deca37)] border-solid flex flex-col items-center px-[20px] py-[10px] relative rounded-[12px] w-full card-textbox">
    <div class="leading-[1.5] relative text-[13px] text-black text-outline-white w-full">
      <p class="mb-0">沖縄普天間出身。豊かな自然環境でAnarchyな母の元で育つ。</p>
      <p class="mb-0">&nbsp;</p>
      <p class="mb-0">大学進学を機に京都へ移り、京都芸術大学映画学科にて映像制作を学ぶ。在学中は短編『precipitate』中編『LOST』を監督し、卒業制作で『PEAK END』に参加する。</p>
      <p class="mb-0">&nbsp;</p>
      <p class="mb-0">卒業後も愛する左京区に残り、バイトをしながら映像に関わる仕事にしがみつくように関わり続けている。が、若干万屋化してきている。</p>
      <p class="mb-0">&nbsp;</p>
      <p class="mb-0">表現活動としてドローイングも継続中。描くことは、自己と現実の交わりを俯瞰して見る眼を持つこと。</p>
      <p>諸々の創作意欲は映像や絵へと溶岩の如く流れていく。No war, No hate !</p>
    </div>
  </div>
  <div class="flex flex-col items-center w-full">
    <div class="h-0 relative w-full">
      <div class="absolute inset-[-1px_0_0_0]">
        <img alt="" class="block max-w-none size-full" src={imgLine12} />
      </div>
    </div>
    <div class="relative rounded-[10px] shrink-0 size-[36px]">
      <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[10px] size-full" src={imgRinProf2} />
    </div>
  </div>
</div>
