---
const imgRinProf1 = import.meta.env.BASE_URL + "images/867091a57362fee5872cc94cb1eea5a3b47ed103.png";
const imgTextBox = import.meta.env.BASE_URL + "images/5b4f3e62db1044de81f479951e83863a662235e5.png";
const imgRinProf2 = import.meta.env.BASE_URL + "images/63e4ec37dcc1d366edcc53ce9a5ae7d1dc8009b3.png";
const imgLine12 = import.meta.env.BASE_URL + "images/722be691ab76c9fbc04f5aef3dc97a1053dc16bb.svg";
---
<div class="flex flex-col gap-[8px] items-center w-[333px]">
  <div class="bg-[var(--keycolor,#deca37)] border-2 border-[var(--bgcolor,#ffffeb)] border-solid flex flex-col items-center justify-center px-[10px] py-[4px] rounded-[5px] w-full">
    <p class="leading-[0] text-[0px] text-black text-center whitespace-nowrap">
      <span class="font-[family-name:var(--mainfont,'Zen_Kaku_Gothic_New:Regular',sans-serif)] leading-normal text-[20px]">西尾千裕</span><span class="font-[family-name:var(--mainfont,'Zen_Kaku_Gothic_New:Regular',sans-serif)] leading-normal text-[12px]">(編集/撮影)</span>
    </p>
  </div>
  <div class="border-2 border-[var(--keycolor,#deca37)] border-solid flex items-center justify-center p-[8px] shrink-0 size-[140px]">
    <div class="relative rounded-[10px] shrink-0 size-[120px]">
      <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[10px] size-full" src={imgRinProf1} />
    </div>
  </div>
  <div class="bg-[var(--heading,#fefefe)] flex items-center justify-center rounded-[2px]">
    <p class="font-['Londrina_Solid',sans-serif] leading-normal text-[18px] text-[color:var(--keycolor,#deca37)] text-center"># members</p>
  </div>
  <div class="border-2 border-[var(--keycolor,#deca37)] border-solid flex flex-col items-center px-[20px] py-[10px] relative rounded-[12px] w-full card-textbox">
    <div class="leading-[1.5] relative text-[13px] text-black text-outline-white w-full">
      <p class="mb-0">2003年生まれ、大阪府出身。映画の予告編制作会社に興味を持ち、京都芸術大学の映画学科に進学。</p>
      <p class="mb-0">&nbsp;</p>
      <p class="mb-0">1年生のゼミをきっかけに"脚本"がない映画制作が面白いと感じ始める。大学3年生で伊丹そらと出会い、作品『LOST』を制作。そこで編集の奥深さにハマってしまう。</p>
      <p class="mb-0">&nbsp;</p>
      <p class="mb-0">今作の『PEAK END』では編集と撮影で参加。</p>
      <p>メンバーの皆でアツアツのおでんを囲みながら、ああだこうだ考えているうちに迎えた朝が、出社する今の私の心を支えている。現在も映像編集の仕事に携わっており、日々、映像と闘っている。</p>
    </div>
  </div>
  <div class="flex flex-col items-center w-full">
    <div class="h-0 relative w-full">
      <div class="absolute inset-[-1px_0_0_0]">
        <img alt="" class="block max-w-none size-full" src={imgLine12} />
      </div>
    </div>
    <div class="relative rounded-[10px] shrink-0 size-[36px]">
      <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[10px] size-full" src={imgRinProf2} />
    </div>
  </div>
</div>
