---
const imgLine3 = "/images/b88cc1a200861958fdcf624c302aaa0be13d112f.svg";
const imgLine4 = "/images/d022fcd1d982914490ea0bf4ff6b1ecc4b1d7e0e.svg";
const imgTable = "/images/ab2ba9388f55027d4323199d2bb8617722e4992d.png";
---
<div class="bg-[#ffffeb] relative size-full h-[500px] overflow-hidden" data-name="iPhone 16 - theaters" data-node-id="2093:7154">
  <div class="absolute content-stretch flex flex-col gap-[12px] h-fit items-start left-0 pt-[24px] pb-[56px] top-[89px] w-[394px]" data-development-annotations="HeadlessCMS（microCMS）にて更新できるように今後する予定（いまではない）" data-name="Table" data-node-id="2034:4212">
    <div class="absolute inset-0 opacity-87 overflow-hidden pointer-events-none">
      <img alt="" class="absolute inset-0 size-full object-cover object-[55%_center] grayscale brightness-[0.4]" src={imgTable}/>
    </div>
    <div class="content-stretch flex flex-col gap-[12px] items-center relative shrink-0 w-full" data-node-id="2028:153">
      <div class="content-stretch flex font-['Shippori_Antique_B1',sans-serif] items-center justify-between not-italic relative shrink-0 text-[14px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] text-white w-[370px]" data-node-id="2028:148">
        <div class="flex flex-col justify-center leading-[0] relative shrink-0 text-center w-[60px]" data-node-id="2028:149">
          <p class="leading-[normal]">地域</p>
        </div>
        <p class="leading-[normal] relative shrink-0 flex-1 px-2" data-node-id="2028:150">劇場名</p>
        <p class="leading-[normal] relative shrink-0 w-[80px] text-left" data-node-id="2028:151">公開日</p>
      </div>
      <div class="flex items-center justify-center relative shrink-0 w-[370px] mx-auto mt-[6px]">
        <div class="w-full border-t-[0.5px] border-white opacity-50"></div>
      </div>
    </div>
    <div class="content-stretch flex flex-col gap-[12px] items-center relative shrink-0 w-full" data-node-id="2034:4214">
      <div class="content-stretch flex font-['Shippori_Antique_B1',sans-serif] items-center justify-between not-italic relative shrink-0 text-[14px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] text-white w-[370px]" data-node-id="I2034:4214;2028:148">
        <div class="flex flex-col justify-center leading-[0] relative shrink-0 text-center w-[60px]" data-node-id="I2034:4214;2028:149">
          <p class="leading-[normal]">東京都</p>
        </div>
        <p class="leading-[normal] relative shrink-0 flex-1 px-2" data-node-id="I2034:4214;2028:150">シアター・イメージフォーラム</p>
        <p class="leading-[normal] relative shrink-0 w-[80px] text-left" data-node-id="I2034:4214;2028:151">2026.6.13</p>
      </div>
      <div class="flex items-center justify-center relative shrink-0 w-[370px] mx-auto mt-[6px]">
        <div class="w-full border-t-[0.5px] border-white opacity-50"></div>
      </div>
    </div>
    <div class="content-stretch flex flex-col gap-[12px] items-center relative shrink-0 w-full" data-node-id="2034:4215">
      <div class="content-stretch flex font-['Shippori_Antique_B1',sans-serif] items-center justify-between not-italic relative shrink-0 text-[14px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] text-white w-[370px]" data-node-id="I2034:4215;2028:148">
        <div class="flex flex-col justify-center leading-[0] relative shrink-0 text-center w-[60px]" data-node-id="I2034:4215;2028:149">
          <p class="leading-[normal]">京都府</p>
        </div>
        <p class="leading-[normal] relative shrink-0 flex-1 px-2" data-node-id="I2034:4215;2028:150">出町座</p>
        <p class="leading-[normal] relative shrink-0 w-[80px] text-left" data-node-id="I2034:4215;2028:151">2026.6.26</p>
      </div>
      <div class="flex items-center justify-center relative shrink-0 w-[370px] mx-auto mt-[6px]">
        <div class="w-full border-t-[0.5px] border-white opacity-50"></div>
      </div>
    </div>
    <div class="content-stretch flex flex-col gap-[12px] items-center relative shrink-0 w-full" data-node-id="2034:4216">
      <div class="content-stretch flex font-['Shippori_Antique_B1',sans-serif] items-center justify-between not-italic relative shrink-0 text-[14px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] text-white w-[370px]" data-node-id="I2034:4216;2028:148">
        <div class="flex flex-col justify-center leading-[0] relative shrink-0 text-center w-[60px]" data-node-id="I2034:4216;2028:149">
          <p class="leading-[normal]">大阪府</p>
        </div>
        <p class="leading-[normal] relative shrink-0 flex-1 px-2" data-node-id="I2034:4216;2028:150">シネ・ヌーヴォ</p>
        <p class="leading-[normal] relative shrink-0 w-[80px] text-left" data-node-id="I2034:4216;2028:151">2026.6.27</p>
      </div>
      <div class="flex items-center justify-center relative shrink-0 w-[370px] mx-auto mt-[6px]">
        <div class="w-full border-t-[0.5px] border-white opacity-50"></div>
      </div>
    </div>
    <div class="content-stretch flex flex-col gap-[12px] items-center relative shrink-0 w-full" data-node-id="2034:4217">
      <div class="content-stretch flex font-['Shippori_Antique_B1',sans-serif] items-center justify-between not-italic relative shrink-0 text-[14px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] text-white w-[370px]" data-node-id="I2034:4217;2028:148">
        <div class="flex flex-col justify-center leading-[0] relative shrink-0 text-center w-[60px]" data-node-id="I2034:4217;2028:149">
          <p class="leading-[normal]">沖縄県</p>
        </div>
        <p class="leading-[normal] relative shrink-0 flex-1 px-2" data-node-id="I2034:4217;2028:150">桜坂劇場</p>
        <p class="leading-[normal] relative shrink-0 w-[80px] text-left" data-node-id="I2034:4217;2028:151">2026.7.18</p>
      </div>
      <div class="flex items-center justify-center relative shrink-0 w-[370px] mx-auto mt-[6px]">
        <div class="w-full border-t-[0.5px] border-white opacity-50"></div>
      </div>
    </div>
    <div class="content-stretch flex flex-col gap-[12px] items-center relative shrink-0 w-full" data-node-id="2034:4218">
      <div class="content-stretch flex font-['Shippori_Antique_B1',sans-serif] items-center justify-between not-italic relative shrink-0 text-[14px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] text-white w-[370px]" data-node-id="I2034:4218;2028:148">
        <div class="flex flex-col justify-center leading-[0] relative shrink-0 text-center w-[60px]" data-node-id="I2034:4218;2028:149">
          <p class="leading-[normal]">愛知県</p>
        </div>
        <p class="leading-[normal] relative shrink-0 flex-1 px-2" data-node-id="I2034:4218;2028:150">キネマ・ノイ</p>
        <p class="leading-[normal] relative shrink-0 w-[80px] text-left" data-node-id="I2034:4218;2028:151">近日発表</p>
      </div>
      <div class="flex items-center justify-center relative shrink-0 w-[370px] mx-auto mt-[6px]">
        <div class="w-full border-t-[0.5px] border-white opacity-50"></div>
      </div>
    </div>
    <div class="content-stretch flex flex-col gap-[12px] items-center relative shrink-0 w-full" data-node-id="2034:4219">
      <div class="content-stretch flex font-['Shippori_Antique_B1',sans-serif] items-center justify-between not-italic relative shrink-0 text-[14px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] text-white w-[370px]" data-node-id="I2034:4219;2028:148">
        <div class="flex flex-col justify-center leading-[0] relative shrink-0 text-center w-[60px]" data-node-id="I2034:4219;2028:149">
          <p class="leading-[normal]">…</p>
        </div>
        <p class="leading-[normal] relative shrink-0 flex-1 px-2" data-node-id="I2034:4219;2028:150">…</p>
        <p class="leading-[normal] relative shrink-0 w-[80px] text-left" data-node-id="I2034:4219;2028:151">順次全国</p>
      </div>
      <div class="flex items-center justify-center relative shrink-0 w-[370px] mx-auto mt-[6px]">
        <div class="w-full border-t-[0.5px] border-white opacity-50"></div>
      </div>
    </div>
  </div>
  <div class="absolute content-stretch flex flex-col gap-[10px] h-[38px] items-start left-[18px] py-[6px] top-[7px] w-[384px]" style="overflow: hidden;" data-name="Section_Header_Theaters" data-node-id="2034:4238">
    <div class="absolute bg-[rgba(217,107,157,0.6)] h-[25px] w-[258px]" style="left: 126px; top: 6px;" data-node-id="2034:4240"></div>
    <div class="absolute content-stretch flex gap-[6px] items-end leading-[normal] left-0 not-italic text-[#deca37] top-0 whitespace-nowrap" data-name="SectionTag" data-node-id="2034:4239">
      <p class="font-['Londrina_Solid',sans-serif] relative shrink-0 text-[32px]" data-node-id="I2034:4239;2012:154">THEATERS</p>
      <div class="overflow-hidden flex-1 relative">
        <div class="animate-ticker relative shrink-0 text-[24px] py-[2px]">
        <div class="content-stretch flex gap-[6px] items-center pr-[6px]">
          <p class="font-['Londrina_Solid',sans-serif] font-light relative shrink-0" data-node-id="I2034:4239;2012:157">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-[100] relative shrink-0" data-node-id="I2034:4239;2012:158">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-black relative shrink-0" data-node-id="I2034:4239;2012:159">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] relative shrink-0" data-node-id="I2034:4239;2012:160">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-light relative shrink-0" data-node-id="I2034:4239;2012:161">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-[100] relative shrink-0" data-node-id="I2034:4239;2012:245">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-black relative shrink-0" data-node-id="I2034:4239;2012:246">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] relative shrink-0" data-node-id="I2034:4239;2012:247">THEATERS</p>
        </div>
        <div class="content-stretch flex gap-[6px] items-center pr-[6px]" aria-hidden="true">
          <p class="font-['Londrina_Solid',sans-serif] font-light relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-[100] relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-black relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-light relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-[100] relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-black relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] relative shrink-0">THEATERS</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
