---
const imgLine3 = import.meta.env.BASE_URL + "images/b88cc1a200861958fdcf624c302aaa0be13d112f.svg";
const imgLine4 = import.meta.env.BASE_URL + "images/d022fcd1d982914490ea0bf4ff6b1ecc4b1d7e0e.svg";
const imgTable = import.meta.env.BASE_URL + "images/ab2ba9388f55027d4323199d2bb8617722e4992d.png";
---
<div class="bg-[#ffffeb] relative size-full h-[500px] overflow-hidden">
  <div class="absolute content-stretch flex flex-col gap-[12px] h-fit items-start left-0 pt-[24px] pb-[56px] top-[89px] w-[394px]">
    <div class="absolute inset-0 opacity-87 overflow-hidden pointer-events-none">
      <img alt="" class="absolute inset-0 size-full object-cover object-[55%_center] grayscale brightness-[0.4]" src={imgTable}/>
    </div>
    <div class="content-stretch flex flex-col gap-[12px] items-center relative shrink-0 w-full">
      <div class="content-stretch flex font-['Shippori_Antique_B1',sans-serif] items-center justify-between not-italic relative shrink-0 text-[14px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] text-white w-[370px]">
        <div class="flex flex-col justify-center leading-[0] relative shrink-0 text-center w-[60px]">
          <p class="leading-[normal]">地域</p>
        </div>
        <p class="leading-[normal] relative shrink-0 flex-1 px-2">劇場名</p>
        <p class="leading-[normal] relative shrink-0 w-[80px] text-left">公開日</p>
      </div>
      <div class="flex items-center justify-center relative shrink-0 w-[370px] mx-auto mt-[6px]">
        <div class="w-full border-t-[0.5px] border-white opacity-50"></div>
      </div>
    </div>
    <div class="content-stretch flex flex-col gap-[12px] items-center relative shrink-0 w-full">
      <div class="content-stretch flex font-['Shippori_Antique_B1',sans-serif] items-center justify-between not-italic relative shrink-0 text-[14px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] text-white w-[370px]">
        <div class="flex flex-col justify-center leading-[0] relative shrink-0 text-center w-[60px]">
          <p class="leading-[normal]">東京都</p>
        </div>
        <p class="leading-[normal] relative shrink-0 flex-1 px-2">シアター・イメージフォーラム</p>
        <p class="leading-[normal] relative shrink-0 w-[80px] text-left">2026.6.13</p>
      </div>
      <div class="flex items-center justify-center relative shrink-0 w-[370px] mx-auto mt-[6px]">
        <div class="w-full border-t-[0.5px] border-white opacity-50"></div>
      </div>
    </div>
    <div class="content-stretch flex flex-col gap-[12px] items-center relative shrink-0 w-full">
      <div class="content-stretch flex font-['Shippori_Antique_B1',sans-serif] items-center justify-between not-italic relative shrink-0 text-[14px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] text-white w-[370px]">
        <div class="flex flex-col justify-center leading-[0] relative shrink-0 text-center w-[60px]">
          <p class="leading-[normal]">京都府</p>
        </div>
        <p class="leading-[normal] relative shrink-0 flex-1 px-2">出町座</p>
        <p class="leading-[normal] relative shrink-0 w-[80px] text-left">2026.6.26</p>
      </div>
      <div class="flex items-center justify-center relative shrink-0 w-[370px] mx-auto mt-[6px]">
        <div class="w-full border-t-[0.5px] border-white opacity-50"></div>
      </div>
    </div>
    <div class="content-stretch flex flex-col gap-[12px] items-center relative shrink-0 w-full">
      <div class="content-stretch flex font-['Shippori_Antique_B1',sans-serif] items-center justify-between not-italic relative shrink-0 text-[14px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] text-white w-[370px]">
        <div class="flex flex-col justify-center leading-[0] relative shrink-0 text-center w-[60px]">
          <p class="leading-[normal]">大阪府</p>
        </div>
        <p class="leading-[normal] relative shrink-0 flex-1 px-2">シネ・ヌーヴォ</p>
        <p class="leading-[normal] relative shrink-0 w-[80px] text-left">2026.6.27</p>
      </div>
      <div class="flex items-center justify-center relative shrink-0 w-[370px] mx-auto mt-[6px]">
        <div class="w-full border-t-[0.5px] border-white opacity-50"></div>
      </div>
    </div>
    <div class="content-stretch flex flex-col gap-[12px] items-center relative shrink-0 w-full">
      <div class="content-stretch flex font-['Shippori_Antique_B1',sans-serif] items-center justify-between not-italic relative shrink-0 text-[14px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] text-white w-[370px]">
        <div class="flex flex-col justify-center leading-[0] relative shrink-0 text-center w-[60px]">
          <p class="leading-[normal]">沖縄県</p>
        </div>
        <p class="leading-[normal] relative shrink-0 flex-1 px-2">桜坂劇場</p>
        <p class="leading-[normal] relative shrink-0 w-[80px] text-left">2026.7.18</p>
      </div>
      <div class="flex items-center justify-center relative shrink-0 w-[370px] mx-auto mt-[6px]">
        <div class="w-full border-t-[0.5px] border-white opacity-50"></div>
      </div>
    </div>
    <div class="content-stretch flex flex-col gap-[12px] items-center relative shrink-0 w-full">
      <div class="content-stretch flex font-['Shippori_Antique_B1',sans-serif] items-center justify-between not-italic relative shrink-0 text-[14px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] text-white w-[370px]">
        <div class="flex flex-col justify-center leading-[0] relative shrink-0 text-center w-[60px]">
          <p class="leading-[normal]">愛知県</p>
        </div>
        <p class="leading-[normal] relative shrink-0 flex-1 px-2">キネマ・ノイ</p>
        <p class="leading-[normal] relative shrink-0 w-[80px] text-left">近日発表</p>
      </div>
      <div class="flex items-center justify-center relative shrink-0 w-[370px] mx-auto mt-[6px]">
        <div class="w-full border-t-[0.5px] border-white opacity-50"></div>
      </div>
    </div>
    <div class="content-stretch flex flex-col gap-[12px] items-center relative shrink-0 w-full">
      <div class="content-stretch flex font-['Shippori_Antique_B1',sans-serif] items-center justify-between not-italic relative shrink-0 text-[14px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] text-white w-[370px]">
        <div class="flex flex-col justify-center leading-[0] relative shrink-0 text-center w-[60px]">
          <p class="leading-[normal]">…</p>
        </div>
        <p class="leading-[normal] relative shrink-0 flex-1 px-2">…</p>
        <p class="leading-[normal] relative shrink-0 w-[80px] text-left">順次全国</p>
      </div>
      <div class="flex items-center justify-center relative shrink-0 w-[370px] mx-auto mt-[6px]">
        <div class="w-full border-t-[0.5px] border-white opacity-50"></div>
      </div>
    </div>
  </div>
  <div class="absolute content-stretch flex flex-col gap-[10px] h-[38px] items-start left-[18px] py-[6px] top-[7px] w-[384px]" style="overflow: hidden;">
    <div class="absolute bg-[rgba(217,107,157,0.6)] h-[25px] w-[258px]" style="left: 126px; top: 6px;"></div>
    <div class="absolute content-stretch flex gap-[6px] items-end leading-[normal] left-0 not-italic text-[#deca37] top-0 whitespace-nowrap">
      <p class="font-['Londrina_Solid',sans-serif] relative shrink-0 text-[32px]">THEATERS</p>
      <div class="overflow-hidden flex-1 relative">
        <div class="animate-ticker relative shrink-0 text-[24px] py-[2px]">
        <div class="content-stretch flex gap-[6px] items-center pr-[6px]">
          <p class="font-['Londrina_Solid',sans-serif] font-light relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-[100] relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-black relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-light relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-[100] relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-black relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] relative shrink-0">THEATERS</p>
        </div>
        <div class="content-stretch flex gap-[6px] items-center pr-[6px]" aria-hidden="true">
          <p class="font-['Londrina_Solid',sans-serif] font-light relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-[100] relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-black relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-light relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-[100] relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] font-black relative shrink-0">THEATERS</p>
          <p class="font-['Londrina_Solid',sans-serif] relative shrink-0">THEATERS</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
