---
---
<div class="bg-[#ffffeb] relative w-full h-[274px]">
  <div class="-translate-x-1/2 absolute h-[194px] left-1/2 top-[80px] w-[360px]">
    <iframe
      class="absolute inset-0 size-full"
      src="https://www.youtube.com/embed/lBZiY2sbzI0"
      title="PEAK END trailer"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div class="-translate-x-1/2 absolute bg-[var(--heading,#fefefe)] content-stretch flex items-center justify-center left-1/2 px-[18px] py-[12px] top-[13px]">
    <div class="flex flex-col font-['Londrina_Solid',sans-serif] justify-center leading-[0] text-[20px] text-[color:var(--keycolor,#deca37)] text-center whitespace-nowrap">
      <p class="leading-[77.45%]"># trailer</p>
    </div>
  </div>
</div>
